/* This is the CSS file that will be applied to the page 'about:stats'.
 * The location of the file is supplied as a parameter to the 'populate'
 * function in 'data/stats.js', called through 'lib/main.js' as a
 * contentScriptFile.
 * */
body {
  background: #C0C0C0;
  font: message-box;
  padding: 0 2em;
  margin: 0;
  min-width: 45em;
  margin: auto;
}

input {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 400px;
}

button {
  position: absolute;
  right: 85px;
  top: 35px;
  width: 250px;
  height: 50px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 30px;
  padding: 8px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
